KERNELS=="1-1.5"KERNEL=="ttyUSB?", SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0660" SYMLINK+="AixBotbase"
KERNELS=="1-1.2"KERNEL=="ttyUSB?", SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="ea60", MODE="0660" SYMLINK+="AixBotlidar"

